header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
}

.techo{
    border-bottom: 150px solid #533602fe;
    border-left: 350px solid transparent;
	border-right: 350px solid transparent;
    border-top: 0px solid transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.casa{
    width: 600px;
    height: 400px;
    background-color: rgb(226, 185, 95);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #000;
    position: relative;
    flex-direction: column;
}

.ventana{
    width: 100px;
	height: 100px;
    position: absolute;
    border: 1px solid #000;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: start;
    top: 40%;
    right: 690px;
    border-radius: 30px;
}

.ventana:last-child{
    left: 690px;
}

.puerta{
    width: 85px;
	height: 130px;
	background-color: #514242;
	position: absolute;
	bottom: 250px;
    border: 1px solid #000;
}